/*table {
	border-collapse: collapse;
	margin: 5px;
}

thead {
	background-color: lightgray;
}

th, td {
	border: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#content > table.fixedHeader > thead {
	position: sticky;
	top: 0;
}
*/

.clickable {
	cursor: pointer;
}
thead.sticky-top > tr > th {
	border-width: 0 1px;
}
thead.sticky-top > tr > th.clickable:hover {
	background-color: var(--bs-gray-200);
}

/*th, td {
	white-space: nowrap;
}
*/
